<% include header.ejs %>
<script>
$(document).ready(function() {
  $(".newcust").on("click", function(e)
  {
      e.preventDefault();
      var firstname =   $("#fname").val();
      var data = new FormData();
      data.append('firstname', firstname);
      data.append('lastname', $("#lname").val());
      data.append('phone', $("#phone").val());
      data.append('email', $("#email").val());
      data.append('password', $("#password").val());
      data.append('tcc', $("#tcc").val());
      data.append('unique_id', $("#uniqueID").val());
      data.append('address', $("#comment").val());
      $("#loading").show();
      $.ajax({
          url : "/customer",
          type: "POST",
          data : data,
          processData: false,
          contentType: false,
          success:function(data, textStatus, jqXHR){
            if(data.error == 'UniqueID'){
              $(".error").show();
              $("#loading").hide();
              $("#resulterr").html(" " + data.message);

            }
            else if (data.error == 'email') {
              $(".error").show();
              $("#loading").hide();
              $("#resulterr").html(" " + data.message);
            }
            else{
            $("#newcustomer")[0].reset();
            $(".msg").show();
            $("#result").html(" " + data.message);
            $("#loading").hide();
            setTimeout(function(){
                location.reload();
            }, 2000);
          }

          }

        });

      });
 });
</script>
<div style="padding-top:50px;"> </div>

<% include sidebar.ejs %>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">

            <form class="well form-horizontal" method="post" id="newcustomer">

                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">First Name</label>
                        <div class="col-md-9 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i></span>
                                <input type="text" name="firstname" id="fname" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">last Name</label>
                        <div class="col-md-9 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i></span>
                                <input type="text" name="lastname" id="lname" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Phone</label>
                        <div class="col-md-9 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i></span>
                                <input type="phone" name="phone" id="phone" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Email</label>
                        <div class="col-md-9 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i></span>
                                <input type="email" name="email" id="email" class="form-control" required>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label">Set password</label>
                        <div class="col-md-9 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i></span>
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label">Address:</label>
                        <div class="col-md-9 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i></span>
                                <textarea class="form-control" name="address" rows="2" id="comment"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-8">
                            <button class="newcust btn-warning" style="float:right;margin-right: 15px;background:#000"
                                    >Submit <span class="glyphicon glyphicon-send"></span>
                                    <img id="loading" src="http://res.cloudinary.com/dtyu3roi5/image/upload/v1504249462/ajax-loader_r0c1wu.gif" style="display:none;margin-left: 10px;">
                            </button>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-8 msg" style="display:none">
                            <div id="result" class="fa fa-check" style="color: green;"></div>
                        </div>
                        <div class="col-md-8 error" style="display:none">
                         <div id="resulterr" class="fa fa-check" style="color: red;"></div>
                       </div>
                    </div>

        </div>


        </fieldset>


        </form>

    </div>
</div>
<hr>
<% include footer.ejs %>
