extends layout

block content
  h1= title
  p Welcome to webapp apis, here you find all solutions on one place.
  hr
  h3 Main routes of our API
  a(href="upload_banner") Upload Banner<br/><br/>
  a(href="upload_video") Upload Video<br/><br/>
  a(href="api/banners") Banners API<br/><br/>
  a(href="api/videos") Video API<br/><br/>
