<div class="navbar-wrapper">
    <div class="container-fluid">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="profile" style="margin-right:-8px; margin-top:-5px;">
                        <img alt="Brand" src="https://lut.im/7trApsDX08/GeilMRp1FIm4f2p7.png" width="30px" height="30px">
                    </a>
                    <a class="navbar-brand" href="profile">WebApi</a>
                    <i class="brand_network"><small><small>3d* Virtuallabs</small></small></i>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/upload_banner">Upload Banners</a></li>
                        <li><a href="/upload_video">Upload Video</a></li>
                        <li><a href="/categories">Categories</a></li>
                        <li><a href="/videoList">Video List</a></li>
                        <li><a href="/bannerList">Banner List</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="/logout" class="btn-default btn-sm">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>