<% include ../header.ejs %>

<% include ../scripts/approve-tcp.js %>

<div style="padding-top:50px;"> </div>

<% include ../sidebar.ejs %>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="well">
             <h2>Send Coins</h2>

             <form class="well form-horizontal" id="myform">

                 <fieldset>
                     <!-- Text input-->

                     <div class="form-group">
                         <label class="col-md-3 control-label">Select Customer:</label>
                         <div class="col-md-9 inputGroupContainer">
                             <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-rupee"></i></span>
                                 <select id="catID" multiple="multiple" class="form-control">
                                      <% results.forEach(function(customers) { %>
                                      <option value="<%= customers.unique_id %>"><%= customers.unique_id %></option>
                                      <% }); %>
                                </select>
                             </div>
                         </div>
                     </div>

                     <div class="form-group">
                         <label class="col-md-3 control-label">Send Coins:</label>
                         <div class="col-md-9 inputGroupContainer">
                             <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-bitcoin"></i></span>
                                 <input type="number" min="1" name="coins" id="coins" value="0" class="form-control" required>
                             </div>
                         </div>
                     </div>

                     <!-- Button -->
                     <div class="form-group">
                         <label class="col-md-4 control-label"></label>
                         <div class="col-md-8">
                             <button class="btn btn-warning" style="float:right;margin-right: 15px;background:#000">
                                 Send <span class="glyphicon glyphicon-send"></span><img id="loadingimg"src="http://res.cloudinary.com/dtyu3roi5/image/upload/v1504249462/ajax-loader_r0c1wu.gif" style="display:none;margin-left: 10px;">
                             </button>
                         </div>

                     </div>


                 </fieldset>

             </form>

            </div>
        </div>
     </div>
</div>
<hr>
<% include ../footer.ejs %>
