<% include ../header.ejs %>

<% include ../scripts/approve-tcp.js %>

<div style="padding-top:50px;"> </div>

<% include ../sidebar.ejs %>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="well">
             <h2>Send Coins</h2>

            </div>
        </div>
     </div>
</div>
<hr>
<% include ../footer.ejs %>
