<% include ../header.ejs %>
<script>
$(document).ready(function() {
  $(".send").on("click", function(e)
  {
      e.preventDefault();
      var customer =   $("#customer").val();
      //alert(customer);
      var data = new FormData();
      data.append('customer', customer);
      data.append('tpc', $("#coins").val());
      $("#loadsend").show();
      $.ajax({
          url : "#",
          type: "POST",
          data : data,
          processData: false,
          contentType: false,
          success:function(data, textStatus, jqXHR){
            alert(data);
          }

        });

      });
 });
</script>

<div style="padding-top:50px;"> </div>

<% include ../sidebar.ejs %>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="well">
             <h2>Send Coins</h2>

             <form class="well form-horizontal" id="myform">

                 <fieldset>
                     <!-- Text input-->
                     <div class="form-group">
                         <label class="col-md-3 control-label">Select CustomerID:</label>
                         <div class="col-md-9 inputGroupContainer">
                             <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-rupee"></i></span>
                                 <select id="customer" multiple="multiple" class="form-control">
                                      <% results.forEach(function(customers) { %>
                                      <option value="<%= customers.unique_id %>"><%= customers.unique_id %></option>
                                      <% }); %>
                                </select>
                             </div>
                         </div>
                     </div>

                     <div class="form-group">
                         <label class="col-md-3 control-label">Send Coins:</label>
                         <div class="col-md-9 inputGroupContainer">
                             <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-bitcoin"></i></span>
                                 <input type="number" min="1" name="coins" id="coins" value="0" class="form-control" required>
                             </div>
                         </div>
                     </div>

                     <!-- Button -->
                     <div class="form-group">
                         <label class="col-md-4 control-label"></label>
                         <div class="col-md-8">
                             <button class="send btn-warning" style="float:right;margin-right: 15px;background:#1E2931">
                                 Send <span class="glyphicon glyphicon-send"></span><img id="loadsend"src="http://res.cloudinary.com/dtyu3roi5/image/upload/v1504249462/ajax-loader_r0c1wu.gif" style="display:none;margin-left: 10px;">
                             </button>
                         </div>

                     </div>


                 </fieldset>

             </form>

            </div>
        </div>
     </div>
</div>
<hr>
<% include ../footer.ejs %>
